* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  margin: 20px auto;
  width: 1200px;
}

/*
############################
### HEADER STYLING       ###
############################
*/
nav ul {
  clear: both;
  width: 100%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
nav li {
  display: inline-block;
  list-style: none;
  width: 33%;
  padding: 20px 0;
  margin: 0 auto;
}

header h1 {
  display: inline-block;
  float: left;
}

header img {
  display: inline-block;
  float: left;
  width: 10%;
  height: 10%;
  margin: 10px 5% 0 15%;
}

header {
  background-color: #ddd;
  margin: 0 auto;
}

/*
############################
### ASIDE STYLING        ###
############################
*/

aside {
  display: inline-block;
  float: right;
  margin: 0;
  padding-left: 2.5%;
  vertical-align: top;
  width: 30%;
}


/*
############################
### MAIN STYLING         ###
############################
*/
main {
  display: inline-block;
  float: left;
  width:67%;
}

img {
  max-width: 50%;
  margin: 0 auto;
}

footer {
  clear: both;
}