* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
  margin: 20px auto;
  max-width: 1200px;
}

#container {
  margin: 0 5%;
  width: 100%;
}

section, header, footer {
  padding: 0 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Patrick Hand', cursive;
  text-transform: uppercase;
}
/*
############################
### HEADER STYLING       ###
############################
*/
nav ul {
  clear: both;
  width: 100%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}
nav li {
  display: inline-block;
  list-style: none;
  width: 33%;
  padding: 20px 10%;
  font-size: 1.25em
}

header h1 {
  display: inline-block;
  position: relative;
  font-size: 4em;
  margin: 0 5%;
  text-transform: uppercase;
  vertical-align: middle;
}

header img {
  display: inline-block;
  position: relative;
  margin: 20px auto;
  width: 10%;
  height: 10%;
  vertical-align: middle;
}

header {
  background-color: #ddd;
  margin: 0 auto;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  width: 100%;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: #111;
}
header a:hover {
  color: green;
}
/*
############################
### ASIDE STYLING        ###
############################
*/

aside {
  background-color: #0282F9;
  color: #fff;
  display: inline-block;
  float: right;
  vertical-align: middle;
  width: 30%;
  clear: left;
}

#author-bio {
  line-height: 1.6em;
  padding: 100px 2% 150px;
}

#author-bio h1 {
  font-size: 2em;
}

/*
############################
### MAIN STYLING         ###
############################
*/
main {
  display: inline-block;
  margin: 0 auto;
  width:67%;
}

.subhead {
  font: 100 1.25em/1.4 'Patrick Hand', cursive;
  margin: -10px 0 30px;
}

section > h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

article > h1 {
  font-size: 1.5em;
}

img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
figcaption {
  display: block;
  margin: 10px auto;
  width: 50%;
}

figure {
  margin: 0 auto;
  text-align: center;
}

#seasons {
  font-weight: 600;
}

table,th, td {
  border: 3px #2C587D solid;
  border-collapse: collapse;
  text-align: center;
}

table {
  margin: 20px auto;
}

footer {
  clear: both;
  margin: 50px 0;
  width: 100%;
}

@media screen and (max-width: 731px) {
  main, aside, section {
    margin-top: 0;
  }
  header li {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
  main {
    display: block;
    float: none;
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  aside {
    display: none;
    float: none;
    width: 100%;
  }
  img {
    width: 100%;
  }
}